[submodule "dashboard-cms"]
	path = dashboard-cms
	url = https://github.com/jahfal/dashboard-cms.git
[submodule "company-profile-batik"]
	path = company-profile-batik
	url = https://github.com/jahfal/company-profile-batik.git
[submodule "cms-catalog-backend"]
	path = cms-catalog-backend
	url = https://github.com/jahfal/cms-catalog-backend.git
